//      COLOR

$gold: #D7B764; 

//      FONT FAMILY

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(/src/lib/assets/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Branch';
    src: url(/src/assets/Branch.ttf);
}

$ffMontserratRegular : 'Montserrat-Regular';
$ffBranch : 'Branch';
//      FONT STYLE & STYLE 

h1{
    font-family: $ffBranch;
    font-size: 4rem;
}

@media screen and (max-width: 750px) {
    h1{     
        font-size: 3rem;
    }
}
@media screen and (max-width: 400px) {
    h1{     
        font-size: 2rem;
    }
}

h2{
    font-family: $ffBranch;
    font-size: 36px;
}

h3{
    font-family: $ffMontserratRegular;
    font-size: 1.25rem;
}

h4{
    font-family: $ffMontserratRegular;
    font-size: 1.25rem;
}

h5{
    font-family: $ffMontserratRegular;
    font-size: 0.875rem;
}

p{
    font-family: $ffMontserratRegular;
    font-size: 1.25rem;
}

a{
    &:hover{
        text-decoration: underline;
    }
}